@font-face {
    font-family: Inter;
    src: url('./fonts/Inter-VariableFont_slnt\,wght.ttf');
  }

  :root {
      --color-black: #141414;
      --color-gray-dark: #1F1F1F;
      --color-gray-light: #333333;
      --color-green: #C4F82A;
  }

  body {
      background-color: var(--color-black);
      display: flex;
      flex-direction: column;
      height: 100dvh;
      align-items: center;
      justify-content: center;
      margin: 0;
  }

  main {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  footer {
      padding: 1rem;
  }

  .card {
      background-color: var(--color-gray-dark);
      border-radius: 20px;
      padding: 2rem;

      display: flex;
      flex-direction: column;
      width: 300px;

      font-family: Inter;
  }

  .card-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      align-self: center;
      margin-bottom: 2rem;
  }

  .card-name {
    margin-block: 0;
    color: white;
    text-align: center;
    font-weight: 500;
    margin-bottom: 1rem;;
  }
  .card-location {
    color: var(--color-green);
    text-align: center;
    font-weight: 700;
    margin-bottom: 2rem;
  }
  .card-description {
    color: white;
    text-align: center;
    margin-bottom: 2rem;
  }

  .card-link-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .card-link {
    color: white;
    padding: 1rem;
    background-color: var(--color-gray-light);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
  }

  .card-link:hover, .card-link:focus {
    background-color: var(--color-green);
    color: var(--color-black);
  }
  .card-link:focus {
    outline: none;
  }


  .attribution { color: white; font-size: 11px; text-align: center; }
  .attribution a { color: var(--color-green); }
